<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test Top Page</title>
</head>
<body>
	<p>利用クラン一覧</p>
	<table>
		<tbody>
			<tr>
				<td>clanId</td>
				<td>clanName</td>
			</tr>
			<tr th:each="clan,iterStat:${clans}">
				<td th:text="${clan.clanId}"/>
				<!--<td th:text="${clan.clanName}"/>-->
				<td>
					<a th:href="@{/api/decks/{id}(id=${clan.clanId})}" th:text="${clan.clanName}" />
				</td>
			</tr>
			<tr>
				<form method="get" action="decks">
					<input type="submit" value="デッキ一覧" />
				</form>
			</tr>
		</tbody>
	</table>
</body>
</html>